#product {
  border: solid 1px;
  border-radius: 20px;
  margin: 3vh;
  padding: 3vh;
}
#product h1,h2,p {
  margin: 0;
}
#product h1 {
  font-size: 3vh;
}
#product h2 {
  font-size: 2.2vh;
}
#product p {
  font-size: 1.7vh;
}