.display-center {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 2vh;
}
#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logo h1 {
  font-size: 3vw;
}
#logo img {
  width: 5vw;
  height: 5vw;
}